<section class="container mx-auto px-4 py-8 space-y-4">
  <div data-controller="typewriter" data-typewriter-message-value="Welcome to My Academy Quest! Track your learning journey and progress.">
    <h1 class="text-3xl font-bold">My Academy Quest</h1>
    <h3 data-typewriter-target="text" class="text-lg text-left"></h3>
  </div>
  <%= link_to 'My brag Document', brags_path, class: 'btn btn-primary' %>
  <h2 class="text-2xl" data-testid="title">Quest Checklist</h2>
  <%= link_to "Add New Quest", new_task_path, class: 'btn btn-secondary', data: {turbo_frame: "new_task", testid: "add-button"} %>
  <%= turbo_frame_tag "new_task" do %>
  <% end %>
  <%= turbo_frame_tag "task_list", class: "flex flex-col gap-2 mt-4" do %>
    <%= render @tasks %>
  <% end %>
</section>
